[submodule "oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh
[submodule "oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = http://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = http://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/custom/plugins/zsh-interactive-cd"]
	path = zsh/custom/plugins/zsh-interactive-cd
	url = http://github.com/changyuheng/zsh-interactive-cd
[submodule "vim/pack/2-bundle/start/a.vim"]
	path = vim/pack/2-bundle/start/a.vim
	url = http://github.com/vim-scripts/a.vim.git
[submodule "vim/pack/2-bundle/start/nerdcommenter"]
	path = vim/pack/2-bundle/start/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/pack/2-bundle/start/tagbar"]
	path = vim/pack/2-bundle/start/tagbar
	url = http://github.com/majutsushi/tagbar.git
[submodule "vim/pack/2-bundle/start/vim-airline"]
	path = vim/pack/2-bundle/start/vim-airline
	url = http://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/2-bundle/start/vim-cpp-enhanced-highlight"]
	path = vim/pack/2-bundle/start/vim-cpp-enhanced-highlight
	url = http://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "vim/pack/2-bundle/start/vim-fugitive"]
	path = vim/pack/2-bundle/start/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/2-bundle/start/vim-json"]
	path = vim/pack/2-bundle/start/vim-json
	url = http://github.com/elzr/vim-json
[submodule "vim/pack/2-bundle/start/csv.vim"]
	path = vim/pack/2-bundle/start/csv.vim
	url = http://github.com/chrisbra/csv.vim
[submodule "vim/pack/2-bundle/start/vim-toml"]
	path = vim/pack/2-bundle/start/vim-toml
	url = http://github.com/cespare/vim-toml
[submodule "vim/pack/2-bundle/start/asyncomplete-lsp.vim"]
	path = vim/pack/2-bundle/start/asyncomplete-lsp.vim
	url = http://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "vim/pack/2-bundle/start/asyncomplete.vim"]
	path = vim/pack/2-bundle/start/asyncomplete.vim
	url = http://github.com/prabirshrestha/asyncomplete.vim
[submodule "vim/pack/2-bundle/start/async.vim"]
	path = vim/pack/2-bundle/start/async.vim
	url = http://github.com/prabirshrestha/async.vim
[submodule "vim/pack/2-bundle/start/rust.vim"]
	path = vim/pack/2-bundle/start/rust.vim
	url = http://github.com/rust-lang/rust.vim
[submodule "vim/pack/2-bundle/start/vim-airline-themes"]
	path = vim/pack/2-bundle/start/vim-airline-themes
	url = http://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/2-bundle/start/vim-bookmarks"]
	path = vim/pack/2-bundle/start/vim-bookmarks
	url = http://github.com/MattesGroeger/vim-bookmarks.git
[submodule "vim/pack/2-bundle/start/vim-localvimrc"]
	path = vim/pack/2-bundle/start/vim-localvimrc
	url = http://github.com/embear/vim-localvimrc.git
[submodule "vim/pack/2-bundle/start/fzf"]
	path = vim/pack/2-bundle/start/fzf
	url = http://github.com/junegunn/fzf
[submodule "vim/pack/2-bundle/start/fzf.vim"]
	path = vim/pack/2-bundle/start/fzf.vim
	url = http://github.com/junegunn/fzf.vim
[submodule "vim/pack/2-bundle/start/ale"]
	path = vim/pack/2-bundle/start/ale
	url = http://github.com/w0rp/ale
[submodule "vim/pack/2-bundle/start/vim-lsp"]
	path = vim/pack/2-bundle/start/vim-lsp
	url = http://github.com/prabirshrestha/vim-lsp
[submodule "vim/pack/2-bundle/start/Rename"]
	path = vim/pack/2-bundle/start/Rename
	url = http://github.com/vim-scripts/Rename
[submodule "vim/pack/2-bundle/start/open_file_under_cursor.vim"]
	path = vim/pack/2-bundle/start/open_file_under_cursor.vim
	url = http://github.com/amix/open_file_under_cursor.vim
[submodule "vim/pack/2-bundle/start/asyncomplete-buffer.vim"]
	path = vim/pack/2-bundle/start/asyncomplete-buffer.vim
	url = http://github.com/prabirshrestha/asyncomplete-buffer.vim
[submodule "vim/pack/2-bundle/start/asyncomplete-file.vim"]
	path = vim/pack/2-bundle/start/asyncomplete-file.vim
	url = http://github.com/prabirshrestha/asyncomplete-file.vim
[submodule "vim/pack/2-bundle/start/vim-gitgutter"]
	path = vim/pack/2-bundle/start/vim-gitgutter
	url = http://github.com/airblade/vim-gitgutter
[submodule "vim/pack/2-bundle/start/vim-sneak"]
	path = vim/pack/2-bundle/start/vim-sneak
	url = http://github.com/justinmk/vim-sneak
[submodule "vim/pack/2-bundle/start/vim-visual-multi"]
	path = vim/pack/2-bundle/start/vim-visual-multi
	url = http://github.com/mg979/vim-visual-multi
[submodule "vim/pack/2-bundle/start/vim-gutentags"]
	path = vim/pack/2-bundle/start/vim-gutentags
	url = http://github.com/ludovicchabant/vim-gutentags
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = http://github.com/tmux-plugins/tpm
