[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = http://github.com/vim-scripts/a.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = http://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-clang"]
	path = bundle/vim-clang
	url = http://github.com/justmao945/vim-clang.git
[submodule "bundle/vim-cpp-enhanced-highlight"]
	path = bundle/vim-cpp-enhanced-highlight
	url = http://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = http://github.com/elzr/vim-json
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = http://github.com/vim-scripts/AutoComplPop
[submodule "bundle/L9"]
	path = bundle/L9
	url = http://github.com/vim-scripts/L9
[submodule "bundle/csv.vim"]
	path = bundle/csv.vim
	url = http://github.com/chrisbra/csv.vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/vim-syntastic/syntastic.git
[submodule "bundle/vim-toml"]
	path = bundle/vim-toml
	url = http://github.com/cespare/vim-toml
[submodule "bundle/asyncomplete-lsp.vim"]
	path = bundle/asyncomplete-lsp.vim
	url = http://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "bundle/asyncomplete.vim"]
	path = bundle/asyncomplete.vim
	url = http://github.com/prabirshrestha/asyncomplete.vim
[submodule "bundle/async.vim"]
	path = bundle/async.vim
	url = http://github.com/prabirshrestha/async.vim
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = http://github.com/rust-lang/rust.vim
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = http://github.com/vim-airline/vim-airline-themes
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = http://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/vim-bookmarks"]
	path = bundle/vim-bookmarks
	url = http://github.com/MattesGroeger/vim-bookmarks.git
