[submodule "vim-cpp-enhanced-highlight"]
	path = vim-cpp-enhanced-highlight
	url = git://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "bundle/vim-cpp-enhanced-highlight"]
	path = bundle/vim-cpp-enhanced-highlight
	url = git://github.com/octol/vim-cpp-enhanced-highlight.git
